html {
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
body,
#root {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
}
